{% extends "base.html" %}

{% block title %}Saludo{% endblock %}

{% block content %} 

<h1>Bienvenido: {{usuario.upper}}, cuyo nombre empieza por la letra: {{usuario | lower | first}} </h1>
{# Introduce la primera letra del nombre del usuario en minusculas con vbarios filtros #}
<h2>Hoy es dia: {{fecha.day}} del mes: {{fecha.month}}</h2>
{% comment %}
Una lista con productos
{% endcomment %}
<h2>Su compra es:</h2>
<ul>
    {% for pro in compra %}
    <li>
        {{pro}}
    </li>
    {% endfor %}
</ul>
<h2>Devoluciones:</h2>

{% if vacia %}
<ul>
    {% for pro in compra %}
    <li>
        {{pro}}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No hay devoluciones</p>
{% endif %}

{% endblock %}