<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-5">
    <h3 class="navbar-text text-info">
        Tienda Web
    </h3> <!--
    <a class="navbar-brand ml-3" href="#"><img src="../img/pc_icon.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon"></span>
    </button>-->
    <div class="collapse navbar-collapse ml-3" id="menu">
        <nav class="navbar-nav">
            <a class="nav-link" href="#">Inicio</a>
            <a class="nav-link" href="#">Comprar</a>
            <a class="nav-link" href="#">Ofertas</a>
            <a class="nav-link" href="#">Devoluciones</a>
        </nav>
    </div>
    <form class="form-inline">
        <input class="form-control form-control-sm mr-md-2" type="search" placeholder="Buscar">
        <input class="btn btn-primary btn-sm" type="submit">
    </form>
</nav>